extends layout

block content
    h1 Welcome to CIS550 Datalake
    h3 Anthony Janocko, Karan Hiremath, Shuai Shao, Zimyang
    hr
    div
        h2 Upload a File to be Extracted
        form(action="/file", method="post", enctype="multipart/form-data")
            input(type="file", name="file")
            input(type="submit", value="Upload") 
    br
    hr
    div
        h2 Enter a list of search queries
        